* {
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
  background-color: bisque;
}

h1 {
  font-size: 30px;
  text-align: center;
}

hr {
  border: 9px solid black;
  width: 100%;
  background-color: red;
  margin: 5px auto;
  padding: 5px;
}

#final {
  border: 5px solid green;
}

.cuartos {
  border: 3px solid blue;
}
